<h2 class="booking-form-title banger-font">Booking Form</h2>
<p class='fw-bold fs-3 m-0'>$<%= @power.price %>0 <small class='fw-light'>day</small></p>

<%= simple_form_for [@power, @booking] do |f| %>
  <div class="calendar-elements">
    <div class="start-end-labels">
      <div class="form-start-label">
        <span>From:</span>
        <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", datepicker_unavailable_value: @power.unavailable_dates.to_json }}, class: "flatpickr-range-time" %>
      </div>
      <div class="form-end-label">
        <span>To:</span>
        <%= f.input :end_date, as: :string, input_html: { value: Date.tomorrow.strftime("%Y-%m-%d"), class: "end-date" } %>
      </div>
    </div>
    <div id="total-container">
      <span id="cost-calculation"></span>
      <strong><span id="total"></span></strong>
    </div>
  </div>
  <%= f.button :submit, 'Power UP!', class: ['submit-btn-red banger-font'] %>
<% end %>
