<div class="half-size-form">
  <%= simple_form_for @power, class:"text-white" do |f| %>
    <%= f.input :name, input_html: { class: "input-bar" } %>
    <%= f.input :description, input_html: { class: "input-bar" } %>
    <%= f.input :category, collection: Power::CATEGORIES, include_blank: false, input_html: { class: "input-bar" } %>
    <%= f.input :price, as: :float, input_html: { class: "input-bar" } %>
    <%= f.input :photo, as: :file, input_html: { class: "input-bar" } %>
    <%= f.button :submit, "List New Power", class: "submit-btn-red banger-font" %>
  <% end %>
</div>
