<h1 class="banger-font center text-center white-text black-border">Edit <%= @power.name %></h1>
<div class="half-size-form" style="width: 550px; margin: 0 auto;">
  <%= simple_form_for(@power) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.input :description,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.input :price, as: :float,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.input :photo, as: :file,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.button :submit, "Update", class: "btn submit-btn-red banger-font" %>
  <% end %>
</div>
<h1 class="banger-font center text-center white-text black-border">Delete <%= @power.name %> </h1>
  <div class="half-size-form" style="height: 125px; width: 250px; margin: 0 auto; text-align: center;">
    <div class="text-light">
      <%= button_to "Delete Power", power_path(@power), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn submit-btn-red banger-font", style: "width: 150px;" %>
    </div>
  </div>
