<div class="background-banner">
  <h1 class="banger-font center text-center white-text">All Available Powers</h1>
  <div class="searchbar-middle">
    <%= form_with url: powers_path, method: :get, class: "banger-font full-height" do %>
      <%= text_field_tag :powersearch,
            params[:powersearch],
            class: "wide-bar full-height",
            placeholder: "Search..."
        %>
      <%= select_tag :category,
          options_for_select(Power::CATEGORIES.map { |category| [category.capitalize, category] }, params[:category]),
          include_blank: "All",
          class: "small-bar full-height"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% if params[:powersearch].present? || params[:category].present? %>
        <%= link_to "Show All Powers", powers_path, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="card-container m-4">
    <% @powers.each do |power| %>
      <%= link_to power_path(power) do %>
        <div class="card-power">
          <%= cl_image_tag power.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-power-infos">
            <div>
              <h2><%= power.name %></h2>
              <p><%= power.description %></p>
            </div>
            <h2 class="card-power-pricing">$<%= power.price %>0</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
