<div class="background-banner">
  <h1 class="banger-font center text-center white-text black-border">All Available Powers</h1>
  <div class="card-container m-4">
    <% @powers.each do |power| %>
      <%= link_to power_path(power) do %>
        <div class="card-power">
          <%= cl_image_tag power.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-power-infos">
            <div>
              <h2><%= power.name %></h2>
              <p><%= power.description %></p>
            </div>
            <h2 class="card-power-pricing"><%= power.price %>€</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
