<div class="power-show-info">
  <h1 class="banger-font power-show-title"><%= @power.name %></h1>
  <div class="power-show-container">
    <div class="power-show-card">
      <div class="power-image-container">
        <%= cl_image_tag @power.photo.key, height: 350, width: 500, crop: :fill, class:'power-show-display-image' %>
        <%= cl_image_tag(@power.user.photo.key, width: 90, height: 90, crop: :thumb, gravity: :face, class: "power-show-user-avatar") %>
        <p class="power-price-tag banger-font"><strong>$<span id="power-price-for-calculation"><%= @power.price %></span>0</strong></p>
      </div>
      <div class="power-text-info">
        <div class="power-text-top-row">
          <% if @power.category == 'strength' %>
            <i class="fa-solid fa-hand-fist power-icon"></i><p class="comic-font"><%= @power.user.first_name %> <%= @power.user.last_name %>: <%= @power.name.capitalize %></p>
          <% elsif @power.category == 'agility'%>
            <i class="fa-solid fa-feather-pointed"></i><p class="comic-font"><%= @power.user.first_name %> <%= @power.user.last_name %>: <%= @power.name.capitalize %></p>
          <% elsif @power.category == 'magic'%>
            <i class="fa-solid fa-wand-magic-sparkles"></i><p class="comic-font"><%= @power.user.first_name %> <%= @power.user.last_name %>: <%= @power.name.capitalize %></p>
          <% elsif @power.category == 'mental'%>
            <i class="fa-solid fa-brain"></i><p><p class="comic-font"><%= @power.user.first_name %> <%= @power.user.last_name %>: <%= @power.name.capitalize %></p>
          <% else %>
            <i class="fa-solid fa-ghost"></i><p class="comic-font"><%= @power.user.first_name %> <%= @power.user.last_name %>: <%= @power.name.capitalize %></p>
          <% end %>
        </div>
        <hr>
        <p class="comic-font"><strong>Description:</strong> <%= @power.description %></p>
      </div>
    </div>

    <br>

    <div class="booking-form-container" data-controller="booking-price" data-booking-price-price-value="<%= @power.price %>">
    <%= render 'powers/form' %>
    </div>
  </div>
</div>
