<h1><%= @power.name %></h1>
<p><%= @power.category %></p>
<p><%= @power.description %></p>
<p><%= @power.price %>$</p>

<br>
<hr>
<br>

<div class="booking-form-container">
<%= render 'powers/form' %>
</div>
