<h1 class="banger-font center text-center white-text black-border">Edit <%= resource_name.to_s.humanize %></h1>
<div class="half-size-form" style="width: 550px; margin: 0 auto;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :alias,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.input :secret_identity,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar", autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar", autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar", autocomplete: "current-password" } %>
    <%= f.input :photo, as: :file,
                label_html: { class: "text-light" },
                input_html: { class: "input-bar" } %>
    <%= f.button :submit, "Update", class: "btn submit-btn-red banger-font"%>
  <% end %>
</div>
<h1 class="banger-font center text-center white-text black-border">My Powers</h1>
<div class="card-container m-4">
  <% current_user.powers.each do |power| %>
    <%= link_to edit_power_path(power) do %>
      <div class="card-power">
        <%= cl_image_tag power.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-power-infos">
          <div>
            <h2><%= power.name %>  </h2>
            <p><%= power.description %></p>
          </div>
          <h2 class="card-power-pricing">$<%= power.price %>0</h2>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_power_path do %>
    <div class="card-power">
      <%= image_tag "plus.png", height: 300, width: 400, crop: :fill %>
      <div class="card-power-infos-plus">
        <div class="spacing">
          <h2>List New Power</h2>
          <p><%=%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<h1 class="banger-font center text-center white-text black-border">Cancel my account</h1>
<div class="half-size-form" style="height: 125px; width: 250px; text-align: center;">
    <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn submit-btn-red banger-font", style: "width: 175px;" %>
  </div>
</div>
