<div class="background-banner">
<h1 class="banger-font center text-center white-text black-border">Your Bookings</h1>
<div class="banger-font card-container m-4">
  <% current_user.bookings.each do |booking| %>
  <div class="booking-card-power">
  <%= cl_image_tag booking.power.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-power-infos">
    <h2 class="banger-font"><%= booking.power.name %></h2>
    <p><%= booking.power.description %> <strong>relevant info</strong> only.</p>
    <h2 class="banger-font card-power-pricing"><%= booking.power.price %>€</h2>
  </div>
  </div>
      <% end %>
</div>
</div>

<div class="background-banner">
<h1 class="banger-font center text-center white-text black-border">Active Requests</h1>
<div class="card-container m-4">
  <% current_user.bookings_as_owner.each do |booking| %>
    <div class="banger-font booking-card-power">
      <%= cl_image_tag booking.power.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-power-infos d-flex">
        <div>
          <h2 class="banger-font"> <%= booking.user.email %> wants to book <%= booking.power.name %> on <%= booking.start_date %> until <%= booking.end_date %></h2>

        </div>
        <div class="accept-decline-container">
          <p class="banger-font">
            <% if booking.status %>
              Approved
            <% else %>
              Pending
            <% end %>
          </p>
          <div class="plus-minus-container">
          <div class="mx-3">
            <%= link_to bookings_path, class: 'text-success text-decoration-none' do %>
              <i class="fa-solid fa-check"></i>
            <% end %>
          </div>
          <div>
            <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Remove this booking?" }, class: 'text-danger text-decoration-none' do %>
              <i class="fa-solid fa-minus"></i>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
